{% extends 'base.html.twig' %}

{% block body %}
{% for item in product %}
    Naam: {{ item[2].naam }}<br/>
    Prijs: &euro;{{  item[2].prijs }}<br/>
    Aantal: {{ item[1] }}</br>
    Totaal: &euro;{{ item[2].prijs * item[1] }}<br/>
    <br/>
    {% endfor %}
    Totale prijs: &euro;{{ totaal }}<br/>
    <a href="/afrekenen">Afrekenen</a>
{% endblock %}